/* Chat header style */

.chatHeaderContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  flex-basis: 70px;
  flex-shrink: 0;
  background-color: #fff;
  margin-bottom: 5px;
  padding: 18px;
}

.chatHeaderLeft {
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  align-items: center;
}

.chatHeaderSpacer {
  flex-grow: 1;
}

.chatHeaderRight {
  display: flex;
  flex-flow: row nowrap;
  justify-content: end;
  align-items: center;
}

/* Message style */

.messageBubble {
  height: 28px;
  padding: 8px 16px 0 16px;
}

.messageBubbleFriend {
  color: #fff;
  border: 1px solid #fff;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  background-color: #00f;
  background: linear-gradient(0.4turn,#2962ff, #82b1ff);
}

.messageBubbleUser {
  color: #000;
  border: 1px solid rgba(0, 0, 0, 0.04);
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.04);
}

.messageAuthorTime {
  color: #616161;
}